*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

:focus{
    outline:none;
}
main{
    display: flex;
    justify-content: space-between;
}

.text{
    width:55%;
    background-color:#FFFFFF;
    background-image: url('./images/img1.png');
    background-repeat: no-repeat;
    
    background-position:bottom center;
    background-size: 55%;
    padding-left: 6.25em;
}
#logo{
padding-top:1.63em;
}
.text p{
    font-family: 'Assistant', sans-serif;
    font-size:2.3em;
    color: #FDC300;
    padding-top:4.5em;
    width:85%;
}
span{
    font-size:2.5em;
    color: #01134A;
}
.form-section{
    background-image:url(./images/img2.png);
    background-repeat: no-repeat;
    background-position:cover;
    width:45%;
    display:flex;

    
}
form{
  font-family: 'Roboto', sans-serif;
background: rgba(1, 19, 74, 0.62);
margin:4.5em auto;
width:80%;
text-align: center;





}
input, select, textarea, button{
    font-family: 'Roboto', sans-serif;
    width:80%;
    background: #FFFFFF;
    padding:1.2em;
   font-size:0.9em;
    margin-bottom:0.5em;
    color: #000000;
    border:none;

}
#full-name{
    margin-top:4em;
}

.details input{
    width:40%;
}
textarea{
    height:10em;
    resize: vertical;
}
button{
    
background: #FDC300;
color: #FFFFFF;
border:none;
margin-bottom:2.6em;

}
@media only screen and (max-width:600px){
    main{
        flex-direction:column;
    }
    .text, .form-section{
        width:100%;
    }
    .text{
        padding-left:1.5em;
        margin-bottom:1.5em;
    }
    .text p{
        width:90%;
        padding-top:3em;
        font-size:2em;
        
    }
    span{
        font-size:2.2em;
    }
    input, select, textarea{
        font-size: 0.6em;
    }
    
    
}

